In [1]:
import os
import glob
import re
import pandas as pd

In [4]:
se_folder_path = r'E:\GitHub\WF-TDM-v9x\1_Inputs\2_SEData\2_WFRC\FiscallyConstrained'

In [ ]:
# clean out output folder

files = glob.glob(os.path.join('output', '*'))

for file in files:
    try:
        os.remove(file)
        print(f"Deleted: {file}")
    except Exception as e:
        print(f"Error deleting {file}: {e}")

In [9]:
# get SE data
df_se_data = pd.DataFrame()

# Loop through the years 2019 to 2050
for se_year in range(2019, 2051):

    file = "SE_" + str(se_year) + '.csv'
    se_file = os.path.join(se_folder_path, file)

    _dbf = pd.read_csv(se_file)

    # Identify non-numeric columns
    non_numeric_columns = _dbf.select_dtypes(include=[int, float]).columns.tolist()
    non_numeric_columns.remove(';TAZID')  # Keep 'TAZID' as identifier variable

    _df_pivot = _dbf.melt(id_vars=[';TAZID'], value_vars=non_numeric_columns)

    _df_pivot['se_year'] = se_year

    df_se_data = pd.concat([df_se_data,_df_pivot])

df_se_data.rename(columns={';TAZID':'TAZID','variable':'parameter'}, inplace=True)

display(df_se_data)

       TAZID parameter    value  se_year
0          1  CO_TAZID  30001.0     2019
1          2  CO_TAZID  30002.0     2019
2          3  CO_TAZID  30003.0     2019
3          4  CO_TAZID  30004.0     2019
4          5  CO_TAZID  30005.0     2019
...      ...       ...      ...      ...
92191   3542   CO_FIPS     49.0     2050
92192   3543   CO_FIPS     49.0     2050
92193   3544   CO_FIPS     49.0     2050
92194   3545   CO_FIPS     49.0     2050
92195   3546   CO_FIPS     49.0     2050

[2950272 rows x 4 columns]

In [10]:
df_se_data.to_csv('output/se_data_long.csv', index=False)