In [17]:
import pandas as pd

#google cloud big query libaries
from google.cloud import bigquery
from google.oauth2 import service_account

dataset_name = "20240322"

# Access Data in BigQuery

**Steps to Create a BigQuery API Key**:
- Go to Google Cloud Console
- Select Project in top drop down
- Select IAM & Admin in sidebar
- Select Service Accounts in sidebar
- Click Create Service Account button (example name bhereth-wfrcbq) 
- Create account and give permissions
- Select Keys option
- Clcik Add Key button - Create New Key
- Select JSON
- Should receive confirmation that key was created
- Look in 'Downloads' folder for key
- Move file to secure spot on local drive

In [ ]:
# Link to BigQuery Client through API

key_path = r"C:\Users\bhereth\confidential-2023-utah-hts-db5335615978.json"
#key_path = r"C:\Users\bhereth\tdm-scenarios-a85044dbbfd3.json"

credentials = service_account.Credentials.from_service_account_file(
    key_path, scopes=["https://www.googleapis.com/auth/cloud-platform"],
)

client = bigquery.Client(credentials=credentials, project=credentials.project_id,)
print ('Successfully Linked to BigQuery Client!')

Successfully Linked to BigQuery Client!

In [7]:
credentials.project_id

'confidential-2023-utah-hts'

In [12]:
credentials.project_id

'confidential-2023-utah-hts'

In [26]:
# Get all datasets in the project
#datasets_query = f"SELECT schema_name FROM `{client.project}.INFORMATION_SCHEMA.SCHEMATA`"
#datasets = [row.schema_name for row in client.query(datasets_query).result()]

# Placeholder for results
results = []

# Loop through each dataset and get the matching columns from each table
for dataset in [dataset_name]: #datasets:
    query = f"""
        SELECT 
            table_schema AS dataset_name,
            table_name,
            column_name,
            data_type
        FROM `{client.project}.{dataset}.INFORMATION_SCHEMA.COLUMNS`
        WHERE RIGHT(column_name, 2) IN ('_x', '_y')
        OR RIGHT(column_name, 4) IN ('_lat', '_lon')
        ORDER BY dataset_name, table_name, column_name;
    """
    
    query_job = client.query(query)
    results.extend(query_job.result())

# Convert to DataFrame
df = pd.DataFrame([dict(row) for row in results])

df

   dataset_name     table_name       column_name data_type
0      20240322        core_hh          home_lat   FLOAT64
1      20240322        core_hh          home_lon   FLOAT64
2      20240322        core_hh            home_x   FLOAT64
3      20240322        core_hh            home_y   FLOAT64
4      20240322        core_hh   sample_home_lat   FLOAT64
5      20240322        core_hh   sample_home_lon   FLOAT64
6      20240322        core_hh  seasonal_res_lat   FLOAT64
7      20240322        core_hh  seasonal_res_lon   FLOAT64
8      20240322        core_hh    seasonal_res_x   FLOAT64
9      20240322        core_hh    seasonal_res_y   FLOAT64
10     20240322    core_person        school_lat   FLOAT64
11     20240322    core_person        school_lon   FLOAT64
12     20240322    core_person          school_x   FLOAT64
13     20240322    core_person          school_y   FLOAT64
14     20240322    core_person   second_home_lat   FLOAT64
15     20240322    core_person   second_home_lon   FLOAT64
16     20240322    core_person     second_home_x   FLOAT64
17     20240322    core_person     second_home_y   FLOAT64
18     20240322    core_person          work_lat   FLOAT64
19     20240322    core_person          work_lon   FLOAT64
20     20240322    core_person            work_x   FLOAT64
21     20240322    core_person            work_y   FLOAT64
22     20240322      core_trip             d_lat   FLOAT64
23     20240322      core_trip             d_lon   FLOAT64
24     20240322      core_trip               d_x   FLOAT64
25     20240322      core_trip               d_y   FLOAT64
26     20240322      core_trip             o_lat   FLOAT64
27     20240322      core_trip             o_lon   FLOAT64
28     20240322      core_trip               o_x   FLOAT64
29     20240322      core_trip               o_y   FLOAT64
30     20240322    followon_hh          home_lat   FLOAT64
31     20240322    followon_hh          home_lon   FLOAT64
32     20240322    followon_hh            home_x   FLOAT64
33     20240322    followon_hh            home_y   FLOAT64
34     20240322  followon_trip       ld_dest_lat   FLOAT64
35     20240322  followon_trip       ld_dest_lon   FLOAT64
36     20240322  followon_trip         ld_dest_x   FLOAT64
37     20240322  followon_trip         ld_dest_y   FLOAT64

In [27]:
# Get all datasets in the project
#datasets_query = f"SELECT schema_name FROM `{client.project}.INFORMATION_SCHEMA.SCHEMATA`"
#datasets = [row.schema_name for row in client.query(datasets_query).result()]

# Placeholder for results
results = []

# Loop through each dataset and get the matching columns from each table
for dataset in [dataset_name]: #datasets:
    query = f"""
        SELECT 
            table_schema AS dataset_name,
            table_name,
            column_name,
            data_type
        FROM `{client.project}.{dataset}.INFORMATION_SCHEMA.COLUMNS`
        WHERE RIGHT(column_name, 8) IN ('_bg_2020')
        ORDER BY dataset_name, table_name, column_name;
    """
    
    query_job = client.query(query)
    results.extend(query_job.result())

# Convert to DataFrame
df = pd.DataFrame([dict(row) for row in results])

df

  dataset_name   table_name           column_name data_type
0     20240322      core_hh          home_bg_2020     INT64
1     20240322      core_hh  seasonal_res_bg_2020   FLOAT64
2     20240322  core_person        school_bg_2020   FLOAT64
3     20240322  core_person   second_home_bg_2020   FLOAT64
4     20240322  core_person          work_bg_2020   FLOAT64
5     20240322    core_trip             d_bg_2020   FLOAT64
6     20240322    core_trip             o_bg_2020   FLOAT64
7     20240322  followon_hh          home_bg_2020     INT64